<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./master.css">
        <script src="jquery.js"></script>
        <script src="main.js"></script>
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAA
        AAAAAACKblAAAAAAAP///wADAwMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAERAAAAAAARERAAAAAAAAERAAAAAAAAABAAAAAAAAAAAAACIiIiIgAAACIiIi
        IAAAACIiIiIiAAAAIiIiIiIgAAIiIiIiIiIAAiIiAAIjIAACIAAAACIAAAAAAAACIAAAAAAAACAg
        AAAQAAACACAAAREAAAAAAAARERAAAAAAARHgBwAAwAMAAIABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAgAEAAMADAADgBwAA" rel="icon" type="image/x-icon" />
        <title>The Warren</title>
    </head>
    <body>
        <div class="warren"></div>
        <div class="form">
            <form id='newrabbitform' method="post">
                <h3>Add a new rabbit to the warren</h3>
                <label>Name: <input type="text" name="name" value=""></label><br>
                <label>Breed: <select class="" name="breed">
                    <option value="American Sable">American Sable</option>
                    <option value="Belgian Hare">Belgian Hare</option>
                    <option value="Britannia Petite">Britannia Petite</option>
                    <option value="American fuzzy lop">American fuzzy lop</option>
                    <option value="English Angora">English Angora</option>
                    <option value="wascally wabbit">wascally wabbit</option>
                </select></label><br>
                <label>date of birth: <input type="date" name="dob" value=""></label><br>
                <input type="submit" name="name" value="Submit">
            </form>
        </div>
        <div class="error"></div>

    </body>
</html>
